<?xml version="1.0"?>

<model>
  <name>Heightmap</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Garvish</name>
    <email>togarvish@gmail.com</email>
  </author>

  <description>
    Random heightmap created using the render->noice->different clouds filter in GNU Gimp.
  </description>
</model>
