[Unit]
Description=Run manual control for the rover
After=network.target
# Before=nextcloud-web.service

[Service]
ExecStart=/usr/bin/bash /home/rsx/rover_ws/src/rsx-rover/scripts/manual_control_service
# ExecReload=
Type=simple
Restart=on-failure


[Install]
WantedBy=default.target
# RequiredBy=network.target
