[Unit]
Description=Run manual control for the rover
After=network.target
# Before=nextcloud-web.service

[Service]
User=rsx
Environment=HOME=/home/rsx
Environment=ROS_LOG_DIR=/home/rsx/.ros/log
ExecStart=/usr/bin/bash /home/rsx/ros2_ws/src/rsx-rover/scripts/manual_control_service
# ExecReload=
Type=simple
Restart=on-failure


[Install]
WantedBy=default.target
# RequiredBy=network.target
