<launch>
   <!-- Load the urdf into the parameter server. -->
   <param name="gazebo_on" type="boolean" value="false"/>
   <param name="robot_description" command="$(find xacro)/xacro --inorder $(find rover)/rover/simulation/urdfs/Arm_CIRC_2024/URDF.xacro"/>

   <arg name="ik_on" default="false"/>
   <arg name="rvizconfig" default="$(find rover)/rover/simulation/rviz_config/arm_urdf.rviz"/>

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>

   <!-- <node name="arm_visualization" pkg="rover" type="arm_viz.py" output="screen"/> -->
   <!-- <node name="fake_manual" pkg="rover" type="fake_manual.py" if="$(arg ik_on)" output="screen"/> -->
   <node name="arm_ik" pkg="rover" type="arm_inverse_kinematics.py" if="$(arg ik_on)" output="screen"/>
   <!-- <node name="arm_visualization" pkg="rover" type="arm_viz.py" output="screen"/> -->
   <!-- <node name="fake_manual" pkg="rover" type="fake_manual.py" if="$(arg ik_on)" output="screen"/> -->
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>
   <node unless="$(arg ik_on)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/> -->
   
</launch>
   