<launch>

    <include file="$(find rover)/rover/autonomy/launch/mapping/octomap.launch" >
    </include>

    <node name="astar_rviz" pkg="rviz" type="rviz" args="-d $(find rover)/rover/autonomy/config/astar.rviz"/>

    <!-- <node name="astar" pkg="rover" type="astar_draft2.py" output="screen"/> -->

    <node name="astar" pkg="rover" type="astar_draft2.py.py" output="screen"/>

    <node name="astar_viz" pkg="rover" type="astar_trajectory.py" output="screen"/>


</launch>