<launch>
    <include file="$(find rover)/rover/autonomy/launch/mapping/octomap_bag.launch" >
        <arg name="bag_filename" value="/home/reim_y/Downloads/zed_myhal_basement.bag" />
    </include>

    <node name="dwa_rviz" pkg="rviz" type="rviz" args="-d $(find rover)/rover/autonomy/config/dwa_planner.rviz"/>

    <node name="dwa_goal" pkg="rover" type="dwa_goal.py" output="screen">
        <param name="goal_topic" value="/goal" />
        <param name="goal_x" value="0.0" />
        <param name="goal_y" value="0.0" />
    </node>

    <node name="dwa_planner" pkg="rover" type="dwa_planner" output="screen">
        <param name="odom_topic" value="/rtabmap/odom" /> <!-- /odom by default--> 
        <param name="octomap_topic" value="/octomap_full"/> <!-- /octomap_full by default--> 
        <param name="map_topic" value="/map" />
        <param name="goal_topic" value="/goal" />
        <param name="cmd_vel_topic" value="/cmd_vel" />
        <rosparam file="$(find rover)/rover/autonomy/config/dwa_planner.yaml" command="load" /> 
    </node>

</launch>