 <joint name="lidar_joint" type="fixed">
      <parent link="base_link"/>
      <child link="lidar_link"/>
      <axis
      xyz="0 0 0" />
      <origin
      xyz="0.0 0 0.278189004081027"
      rpy="0 0 0" />
  </joint> 

<link name="lidar_link">
  <inertial>
    <mass value="0.425"/>
    <origin xyz="0 0 0.03675" rpy="0 0 0" />
    <inertia ixx="0.000308429" ixy="0" ixz="0"
              iyy="0.000308429" iyz="0" izz="0.00034589"/>
  </inertial>
  <collision>
    <origin xyz="0 0 0.03675" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://mobile_manipulator_body/meshes/os1_64.stl" />
    </geometry>
  </collision>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://mobile_manipulator_body/meshes/os1_64.stl" />
    </geometry>
  </visual>
</link>

<gazebo reference="lidar_link">
    <sensor type="gpu_ray" name="os1_lidar">
      <pose>0 0 0 0 0 0</pose>
          <visualize>true</visualize>
          <update_rate>10</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>512</samples>
                <resolution>1</resolution>
                <min_angle>-3.141529</min_angle>
                <max_angle>3.141529</max_angle>
              </horizontal>
              <vertical>
                <samples>64</samples>
                <resolution>1</resolution>
                <min_angle>-3.141529</min_angle>
                <max_angle>-3.141529</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.9</min>
              <max>75.0</max>
              <resolution>0.03</resolution>
            </range>
          </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>/rrbot/laser/scan</topicName>
        <frameName>hokuyo_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
