#~/.config/systemd/user/zenoh.service

[Unit]
Description=Start Zenoh Router
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=bash -c "source /opt/ros/humble/setup.bash && ROS_DOMAIN_ID=10 RMW_IMPLEMENTATION=rmw_zenoh_cpp ZENOH_ROUTER_CONFIG_URI=/home/lelr/lelr_zenoh_config.json5 ros2 run rmw_zenoh_cpp rmw_zenohd"


[Install]
WantedBy=default.target

