<launch>
    <!-- NOTE THIS SHOULD BE LAUNCHED ON THE BASE LAPTOP-->
    <!-- Launch Joy nodes-->
    <group ns="software">
        <node pkg="joy" type="joy_node" name="joy_node"/>
    </group>

    <!-- Launch GUI -->
    <node pkg="rover" type="rover_gui.py" name="rover_gui" output="screen"/>

</launch>