<launch>
    <!-- NOTE THIS SHOULD BE LAUNCHED ON THE BASE LAPTOP-->
    <!-- Launch Joy nodes-->
    <group ns="arm">
        <node pkg="joy" type="joy_node" name="joy_node">
            <param name="dev" value="/dev/input/js1"/>
        </node>
    </group>
 
    <group ns="software">
        <node pkg="joy" type="joy_node" name="joy_node">
            <param name="dev" value="/dev/input/js0"/>
        </node>
    </group>

    <!-- Launch GUI -->
    <node pkg="rover" type="rover_gui.py" name="rover_gui" output="screen"/>

</launch>