<launch> 

    <!-- Launch Realsense driver -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="enable_infra"  value="true"/>
        <arg name="enable_infra1"  value="true"/>
        <arg name="enable_infra2"  value="true"/>
        <arg name="depth_width"   value="640"/>
        <arg name="depth_height"  value="480"/> 
        <arg name="depth_fps"    value="15"/> 

        <!-- Only for RGB-D RTAB-Map -->
        <arg name="color_width"   value="640"/>
        <arg name="color_height"  value="480"/>
        <arg name="color_fps"    value="15"/>
      
        <arg name="infra_width"   value="640"/>
        <arg name="infra_height"  value="480"/>
        <arg name="infra_fps"    value="15"/>
        <arg name="infra_rgb"   value="false"/>
        <arg name="enable_sync" value="true"/>
        <arg name="align_depth" value="true"/>
        <arg name="enable_accel" value="true"/>
        <arg name="enable_gyro"  value="true"/>
        <arg name="enable_pointcloud" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>
    <!-- <node pkg="rviz" type="rviz" name="rviz_camera" args="-d $(find rover)/rover/autonomy/config/camera_config.rviz" /> -->
</launch>
