
<launch>
<node pkg="rosbag" type="record" name="rosbag_record" cwd="node"
    args="record -o /home/rsx/rover_ws/bags/bag
        /drive
        /tf
        /tf_static
        /zed_node/imu/data
        /zed_node/imu/data_raw
        /zed_node/imu/mag
        /zed_node/odom
        /zed_node/odom/status
        /zed_node/parameter_descriptions
        /zed_node/parameter_updates
        /zed_node/point_cloud/cloud_registered
        /zed_node/pose
        /zed_node/pose/status
        /zed_node/pose_with_covariance
        /zed_node/rgb/camera_info
        /zed_node/rgb/image_rect_color
        /zed_node/temperature/imu
        /rtabmap/odom
        
    -b 3072"/>
</launch>
