<launch>

    <!-- Launch the full software stack on AMD (including the zed camera on jetson)-->
    <!-- To kill, after ctrl+c, run the command `rosrun rover kill_manual` to kill the manual control stuff + zed camera -->

    <!-- Launch the manual control -->
    <node pkg="rover" type="manual_control" name="rover_manual_control" output="screen"/>

    <!-- Launch the realsense camera -->
    <include file="$(find rover)/launch/rs_multiple_devices.launch"/>

    <!-- Launch the GPS -->

    <include file='$(find calian_gnss_ros2)/launch/moving_baseline_rtk.launch'/>

    <!-- Launch the State Machine -->
    <!--node pkg="rover" type="final_state_machine.py" name="rover_state_machine" output="screen"/-->

    <!-- ZED check -->

    <!-- <node pkg="rover" type="check_zed.py" name="check_zed" output="screen" /> -->
    
</launch>