<launch>

    <!-- Launch the full software stack on base laptop -->

    <!-- Launch setip setmaster -->
    <!--exec command = "setip; setmaster"/-->

    <!-- Launch the GUI -->
    <!-- <node pkg="rover" type="gui_pyqt.py" name="rover_gui" output="screen"/> -->

    <!-- Launch the joy nodes -->
    <include file='$(find rover)/launch/joy.launch'/>

</launch>