<launch> 

    <!-- Launch Motors -->
    <include file="$(find rover)/rover/drive/launch/falcons.launch"/>
    <!-- <include file="$(find rover)/rover/drive/launch/realsense.launch"/> -->
    <!-- <include file="$(find inertial_sense_ros)/launch/test.launch"/> -->

    <!-- Launch all sensors -->
    <!-- <include file="$(find rover)/rover/drive/launch/sensors.launch"/> -->

    <!-- Launch Task Nodes -->
    <!-- <include file="$(find rover)/rover/autonomy/launch/tasks.launch"/> -->

    <!-- Launch State Machine Nodes -->
    <!-- <include file="$(find rover)/rover/autonomy/launch/state_machine.launch"/> -->

    <!-- Launch Drive Node -->
    <node pkg="rover" type="drive_sender_node" name="manual_control_node" output="screen" /> 

    <!-- <node pkg="rover" type="gps_converter.py" name="gps_converter" output="screen" /> -->
    <!-- <node pkg="rover" type="convert_gps_to_utm.py" name="convert_utm" output="screen" /> -->

</launch>