<launch>
    <!-- <node pkg="tf" type="static_transform_publisher" name="zed_broadcaster" args="-0.34 0.15 0.7 0 0 0 base_link zed2_base_link 100" /> -->
    <!-- When camera is on science module -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="zed_broadcaster" args="0.63 -0.23 0.82 0 0 0 base_link zed2_base_link 100" /> -->
    <!-- When camera is on front of rover -->
    <node pkg="tf" type="static_transform_publisher" name="zed_broadcaster" args="0.33 0.0 0.0 0 0 0 base_link zed2_base_link 100" />
    
    <include file="$(find zed_wrapper)/launch/zed_no_tf.launch"/>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="collapse_pointcloud" output="screen" > 
        <param name="max_height" value="1" />
        <param name="min_height" value="-0.5" />
        <param name="range_min" value="0.75" /> 
        <param name="range_max" value="5.0" />
        <remap from="cloud_in" to="/zed_node/point_cloud/cloud_registered"/>
        <!-- <remap from="/scan" to="/scan_collapsed" /> -->
    </node>

</launch>