<launch>
    <node pkg="tf" type="static_transform_publisher" name="zed_broadcaster" args="-0.2 0 0.8 -1.57 0 0 base_link zed2_base_link 100" />

    <node pkg="zed_wrapper" type="zed_no_tf" name="zed_camera"/>


    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="collapse_pointcloud" output="screen" > 
        <param name="max_height" value="0.75" />
        <param name="min_height" value="-1.2" />
        <param name="range_min" value="0.75" /> 
        <param name="range_max" value="50.0" />
        <remap from="cloud_in" to="/zed_node/point_cloud/cloud_registered"/>
        <!-- <remap from="/scan" to="/scan_collapsed" /> -->
    </node>

