<launch>
    <!-- Load urdf into paramter server-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find rover)/rover/simulation/urdfs/BRUH_gazebo.xacro"/>
    <arg name="rvizconfig" default="$(find rover)/rover/simulation/rviz_config/arm_urdf.rviz"/>

    <arg name="model" default="$(find rover)/rover/simulation/urdfs/BRUH_gazebo.xacro"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
    </include>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model) -urdf -x 0 -y 0 -z 0 -model arm"/>

</launch>