<launch>
  <!-- <rosparam command="load" file="$(find rover)/rover/simulation/config/ekf.yaml" /> -->
  <param name="robot_description" textfile="$(find rover)/rover/simulation/urdfs/new_urdf/urdf/URDF.xacro" />  
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- file="$(find gazebo_ros)/launch/atacama_desert.launch" />   -->

    <!-- file="$(find gazebo_ros)/launch/willowgarage_world.launch" /> -->
    


  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find rover)/rover/simulation/urdfs/new_urdf/urdf/URDF.xacro -urdf -model Rover"
    output="screen" />
  <rosparam command="load" file="$(find rover)/rover/simulation/urdfs/new_urdf/launch/controller.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="lidar_broadcaster" args="0.0 0 0.278189004081027 0 0 0 1 base_link lidar_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0.0 0 0.278189004081027 0 0 0 1 base_link gps_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="0 0 0 0.7071068, 0 0 0.7071068 base_link imu_link 100" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="chassis_tf" args="0 0 0 0 0 0 base_link chassis 100" />
  <node pkg="tf" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 map base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="wheel_tf" args="0 0 0 0 0 0 base_link front_left_wheel 100" /> -->

  

  <!-- <node pkg="tf" type="static_transform_publisher" name="chassis_tf" args="0.280596630449412 0.391929398096866 0.497299040946044 0 0 0 base_link chassis 100" /> -->
</launch>