<launch>
<param name="robot_description" textfile="$(find rover)/rover/simulation/urdf/Rover.urdf" />  
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find rover)/rover/simulation/urdf/Rover.urdf -urdf -model Rover"
    output="screen" />
  <rosparam command="load" file="$(find rover)/rover/simulation/config/control.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller"/>

</launch>