<launch>
  <rosparam command="load" file="$(find rover)/rover/simulation/config/ekf.yaml" />
  <param name="robot_description" textfile="$(find rover)/rover/simulation/urdfs/rover.urdf" />  
  <include
    file="$(find gazebo_ros)/launch/atacama_desert.launch" />
    <!-- file="$(find gazebo_ros)/launch/empty_world.launch" /> -->
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find rover)/rover/simulation/urdfs/rover.urdf -urdf -model Rover"
    output="screen" />
  <rosparam command="load" file="$(find rover)/rover/simulation/config/control.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller"/>

  <node pkg="tf" type="static_transform_publisher" name="lidar_broadcaster" args="0.0 0 0.278189004081027 0 0 0 1 base_link lidar_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0.0 0 0.278189004081027 0 0 0 1 base_link gps_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="0 0 0 0.7071068, 0, 0, 0.7071068 base_link imu_link 100" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom_node" output="screen" >

       <param name="frequency" value="30"/>

       <param name="sensor_timeout" value="0.1"/>

       <param name="two_d_mode" value="true"/>

       <remap from="odometry/filtered" to="odom/ekf/enc_imu"/>

       <!-- <param name="map_frame" value="map"/> -->

       <param name="odom_frame" value="odom"/>

       <param name="base_link_frame" value="chassis"/>

       <param name="world_frame" value="odom"/>

       <param name="transform_time_offset" value="0.0"/>

       <param name="odom0" value="/rr_openrover_driver/odom_encoder"/>

       <param name="odom0_differential" value="false" />

       <param name="odom0_relative" value="false" />

       <param name="odom0_queue_size" value="10" />

       <rosparam param="odom0_config">[false,  false, false,

                                       false, false, false,

                                       true, true, false,

                                       false, false, true,

                                       false, false, false]</rosparam>

       <param name="imu0" value="/imu"/>

       <param name="imu0_differential" value="false" />

       <param name="imu0_relative" value="true" />

       <param name="imu0_queue_size" value="10" />

       <param name="imu0_remove_gravitational_acceleration" value="true" />

       <rosparam param="imu0_config">[false,  false, false,

                                      false, false, false,

                                      false, false, false,

                                      true , true, true,

                                      true, true, true]</rosparam>

       <param name="print_diagnostics" value="true" />

       <param name="debug" value="false" />

       <param name="debug_out_file" value="debug_odom_ekf.txt" />

       <rosparam param="process_noise_covariance">[0.05, 0,    0, 0, 0, 0, 0, 0, 0, 0, 0, 0,    0, 0, 0,

                                                   0, 0.05, 0, 0, 0, 0, 0, 0, 0,  0, 0, 0, 0, 0, 0,

                                                   0, 0, 0.06, 0, 0, 0, 0, 0, 0,  0, 0, 0, 0, 0, 0,

                                                   0, 0, 0, 0.03, 0, 0, 0, 0, 0,  0, 0, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0.03, 0, 0, 0, 0,  0, 0, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0.06, 0, 0, 0,  0, 0, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0.025,0, 0,  0, 0, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0.025,0,  0, 0, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0, 0.04, 0,    0, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0, 0,  0.01, 0, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0, 0,  0, 0.01, 0, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0, 0,  0, 0, 0.02, 0, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0, 0,  0, 0, 0, 0.01, 0, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0, 0,  0, 0, 0, 0, 0.01, 0,

                                                   0, 0, 0, 0, 0, 0, 0, 0, 0,  0, 0, 0, 0, 0, 0.005]</rosparam>

       <rosparam param="initial_estimate_covariance">[1e-9, 0,    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,    0, 0,

                                                      0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 1 , 0, 0, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 1 , 0, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 0, 0, 1,    0, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 0, 0, 0,    1, 0, 0, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 0, 0, 0,    0, 1 , 0, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 0, 0, 0,    0, 0, 1, 0, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 0, 0, 0,    0, 0, 0, 1e-9, 0,

                                                      0, 0, 0, 0, 0, 0, 0, 0, 0, 0,    0, 0, 0, 0, 1e-9]</rosparam>

  </node>
  
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

    <param name="magnetic_declination_radians" value="0"/>

    <param name="yaw_offset" value="0"/>

    <remap from="/imu/data" to="/imu" />
    <remap from="/gps/fix" to="/navsat/fix" />
    <remap from="/odometry/filtered" to="/odom/ekf/enc_imu" />

  </node>
  
  <node pkg="robot_localization" type="navsat_transform_node" name="random" respawn="true">
	  <rosparam param="odomN_config">[true,  true,  false,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam>
	  <param name="odomN_differential" value="false"/>
  </node>

  <node pkg="sensor_msgs" type="NavSatFix" name="navsat" respawn="true">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="19200"/>
  </node>
</launch>