<launch>   

   <arg name="no_static_map" default="false" />
   <arg name="command_velocity_topic" default="/drive" />
   <arg name="odom_topic" default="/rtabmap/odom" />
   <arg name="pose_topic" default="/rtabmap/odom" />


   <arg name="use_map_topic" default="true"/>
   <arg name="scan_topic" default="/scan_collapsed" />
   <arg name="map_topic" default="rtabmap/grid_map" />
   <arg name="global_costmap_topic" default="/move_base/global_costmap/costmap" />

   <!-- <include file="$(find rover)/rover/autonomy/launch/gmapping.launch" /> -->
   <!-- <include file="$(find rover)/rover/autonomy/launch/hector_slam_occupancy_grid.launch" />    -->
   <!-- <node pkg="tf" type="static_transform_publisher" name="laser_odom_to_map" args="0 0 0 0 0 0 map laser_odom 100" /> -->


   <!-- <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="/zed_node/point_cloud/cloud_registered" to="cloud_in" />
      <remap from="/scan" to="scan" />
   </node> -->
   <!-- <remap from="cloud_in" to="/ouster/points" /> -->

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find rover)/rover/autonomy/config/costmap_common.yaml" command="load" ns="global_costmap" /> 
      <rosparam file="$(find rover)/rover/autonomy/config/costmap_common.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find rover)/rover/autonomy/config/local_costmap.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find rover)/rover/autonomy/config/global_costmap.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/> 
      <rosparam file="$(find rover)/rover/autonomy/config/move_base.yaml" command="load" />
      
      <param name="base_global_planner" value="navfn/NavfnROS" />
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

      <param name="controller_frequency" value="5.0" />
      <param name="controller_patience" value="15.0" />

      <remap from="cmd_vel" to="$(arg command_velocity_topic)" />
      <remap from="odom" to="$(arg odom_topic)" />
      <remap from="/amcl_pose" to="$(arg pose_topic)" />
      <remap from="/map" to="$(arg map_topic)" />

      <!-- <rosparam file="$(find rover)/rover/autonomy/config/costmap_converter.yaml" command="load" /> -->
   </node>

   <!--  ****** Maps *****  -->
  
	<node name="map_server" pkg="map_server" type="map_server" args="$(find rover)/rover/simulation/maps/white.yaml" output="screen">
         <param name="frame_id" value="map"/>
         <remap from="/map" to="$(arg map_topic)" />
	</node> 



   <!-- <include file="$(find rover)/rover/autonomy/launch/robot_loc.launch"/> -->
   <!-- <include file="$(find lego_loam)/launch/run.launch" /> -->

   <!-- <node pkg="amcl" type="amcl" name="amcl">
      <rosparam file="$(find rover)/rover/autonomy/config/amcl_params.yaml" command="load" />
      <remap from="scan" to="$(arg scan_topic)"/>    
      <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
   </node> -->


	  <!--  **************** Visualisation ****************  -->
   <node name="rviz_move_base" pkg="rviz" type="rviz" args="-d $(find rover)/rover/autonomy/config/move_base.rviz"/>

</launch> 