    <include file="$(find rtabmap_launch)/launch/rtabmap.launch">
        <arg name="rtabmap_args"  value="--delete_db_on_start"/>

        <arg name="rgb_topic"  value="/zed_node/rgb/image_rect_color"/>
        <arg name="depth_topic"  value="/zed_node/depth/depth_registered"/>
        <arg name="camera_info_topic" value="/zed_node/rgb/camera_info"/>
        <arg name="wait_imu_to_init" value="true"/>
        <arg name="imu_topic"  value="/zed_node/imu/data"/>
        <arg name="frame_id" value="base_link"/>
        <arg name="odom_frame_id" value="odom"/>
        <arg name="map_frame_id" value="map"/>
        <arg name="approx_sync" value="false"/>

        <arg name="rtabmap_viz" value="false"/>
        <arg name="rviz" value="false"/>

        <arg name="publish_tf_map" value="false"/>
        <arg name="publish_tf_odom" value="false"/>
        <arg name="odom_tf_angular_variance" value="-1"/>
        <arg name="odom_tf_linear_variance" value="-1"/>

        <remap from="/tf" to="/tf_fake"/>


        <param name="Reg/Strategy" type="string" value="0"/>
        <param name="Mem/STMSize" type="string" value="1"/>
        <param name="Mem/IncrementalMemory" type="string" value="false"/>
        <param name="RGBD/NeighborLinkRefining" type="string" value="false"/>
        <param name="Optimizer/Iterations" type="string" value="0"/>
        <param name="Mem/NotLinkedNodesKept" type="string" value="false"/>
    </include>

    <!-- Set rtabmap parameters after include -->
    <param name="/rtabmap/publish_tf" type="bool" value="false"/>
    <param name="/rtabmap_ros/publish_tf" type="bool" value="false"/>
    <param name="/rtabmap_node/publish_tf" type="bool" value="false"/>
    <param name="/rtabmap_viz/publish_tf" type="bool" value="false"/>
    <param name="/rtabmap/odom_frame_id" value="odom"/>
    <param name="/rtabmap/map_frame_id" value="map"/>
    <param name="/rtabmap/frame_id" value="base_link"/>